*
{
	margin: 0;
	padding: 0;
	font-family: 'IBM Plex Serif', serif;
	font-size: 16px;
}

html
{
	background-color: white;
    height: 100%;
}

body
{
	width: 100%;
    height: 100%;
	margin: 0 auto;
    position: relative;
}

div#carte
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
}

div#contenu
{
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div#affichage
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

div#cadre
{
    height: 656px;
    width: 340px;
    margin: 0 30px;
    padding: 30px;
    border-radius: 15px;
}

/* header */

header
{
    text-align: center;
}

h1, input
{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: bold;
}

h1
{
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    width: 860px;
    padding: 30px 0;
    border-radius: 15px;
}

input
{
    outline: none;
    border: none;
    background-color: transparent;
    text-align: center;
    text-transform: capitalize;
}

/* section meteoCourante */

section#meteoCourante
{
    visibility: hidden;
}

/* div currentWeather */

div#currentWeather
{
    background-color: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div#currentWeather p#recherche
{
    padding-top: 30px;
}

div#currentWeather p#icone img
{
    height: 180px;
    width: 180px;
}

div#currentWeather img
{
    height: 30px;
    width: 30px;
}

div#currentWeather p span#localisation
{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
}

div#currentWeather div  p
{
    text-align: center;
}

div#currentWeather div  p span#weather
{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 25px;
}

div#currentWeather  p span#temperature
{
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    font-weight: bold;
}

div#currentWeather p#humidite, span#humidity, p#vent, span#wind
{
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 15px;
}

/* section previsions */

section#previsions
{
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    height: 700px;
    width: 400px;
    margin: 0 30px;
    padding: 8px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#previsions div.jour
{
    width: 320px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

section#previsions div.jour div.transparent
{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#previsions div.jour div.transparent div
{
    padding: 3px 0;
}

section#previsions div.jour div.transparent p
{
    font-family: 'Josefin Slab', serif;
    font-size: 15px;
    font-weight: bold;
}

section#previsions div.jour div.transparent p.temp
{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}

section#previsions div.jour div.transparent div img.petiteIcone
{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}